.contact-wrapper {
    padding-top: 50px;
    background-color: var(--black);
    padding-bottom: 100px;
}

.dark strong {
    color: var(--terciary);
}

.contact-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.contact-item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    display: flex;
}

.contact-item i, .contact-item a {
    color: white;
    font-size: 40px;
}

.contact-item i {
    margin-right: 20px;
}

.contact-item a {
    text-decoration: none;
}

.contact-item:hover * {
    color: var(--secondary);
}

.contact-item:nth-child(even) {
    justify-content: end;
}

@media (max-width: 576) {
    .contact-wrapper {
        padding-bottom: 50px;
    }

    .contact-items {
        flex-direction: column;
        align-items: center;
    }

    .contact-item i, .contact-item a {
        font-size: 30px;
    }

    .contact-item {
        margin-bottom: 20px;
    }
}